@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.title-18 {
    margin: 0;
    font-size: 18px;
}

.default-margin-bottom {
    margin-bottom: 35px;
}

.default-padding {
    padding: 0 50px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
}

/****** Logo ***********/

.logo {
    padding: 30px 50px;
}

.logo img {
    height: 19px;
}

/****** Nav ***********/

nav {
    height: max-content;
    padding: 0 50px;
    display: flex;
    gap: 68px;
}

nav a {
    height: 35px;
    display: flex; 
    align-items: flex-end; 
    box-sizing: border-box; 
    border-top: solid 2px transparent; 
}

nav a:hover {
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
}

/****** Headline ***********/

.headline h1 {
    margin-bottom: 8px;
}

.headline p {
    margin: 0;
}

/****** Recherche ***********/

.recherche .formulaire {
    display: flex;
    align-items: center;
    height: 49px;
}

.recherche .formulaire i {
    display: flex;
    align-items: center;
    padding: 0 18px;
    background-color: var(--main-bg-color);
    height: 100%;
    border: 2px solid var(--main-bg-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}

.recherche .formulaire input {
    border: none;
    text-align: center;
    color: black;
    font-weight: 700;
    height: 100%;
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
    box-sizing: border-box;
}

.recherche .formulaire button {
    border: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    background-color: var(--main-color);
    color: #F2F2F2;
    border: 2px solid var(--main-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/****** Filtres ***********/

.filtres {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtres-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 19px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
}

.filtres-card:hover {
    background: var(--filter-bg-color);
}

/****** Infobar ***********/

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-bulle {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 50px;
}

.info-bulle i {
    font-size: 12px;
    color: var(--main-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: auto;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 4px 10px 0 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 0;
    margin-bottom: 6px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-bottom: 4px;
    font-size: 14px;
}

.afficher-plus {
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    padding: 30px;
}

.activites-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0;
}

.activites-cards img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.activites-cards .card-content {
    padding: 20px 19px 20px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin: 0;
}

/****** Footer ***********/

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-bg-color);
}

.footer .block {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.footer .block a {
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        padding: 0 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}